---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import PortableText from "../../components/PortableText.astro";
import Layout from "../../layouts/Layout.astro";
import { sanityClient } from "sanity:client";

export async function getStaticPaths() {
  const { data: category } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "category"]`,
  });

  return category.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: category }: any = await loadQuery<{ title: string; body: any[] }>(
  {
    query: `*[_type == "category" && slug.current == $slug][0]`,
    params,
  }
);

const instruments = await sanityClient.fetch(
  `*[_type == "instrument" && references(*[_type == "category" && lower(title) == "${category.title}"]._id)]`
);

---

<Layout>
  <div class="flex flex-col items-center justify-center">
    <h1 class="text-2xl m-4 flex justify-center">
      All
      {category.title}
    </h1>
    <PortableText portableText={category.body} />
  
    <ul>
    <div class="instrument-list grid grid-cols-3 gap-2 text-sm md:text-base">
      <div class="font-bold">Name</div>
      <div class="flex justify-end font-bold">Daily Rate</div>
      <div class="flex justify-end font-bold text-right">est. Weekly Rate</div>
        {
          instruments.map(
            (i: {
              _id: any;
              title: string;
              slug: any;
              estimatedWeeklyRate: string;
              dailyRate: string;
            }) => (
              
              <li class="">
                <a href={`/instrument/${i.slug.current}`}>{i.title}</a>
              </li>
              <div class="flex justify-end items-center text-sm md:text-base">
                {`$${i.dailyRate}.00`}
              </div>
              <div class="flex justify-end items-center text-sm md:text-base">
                {`$${i.estimatedWeeklyRate}.00`}
              </div>
              
            )
          )
        }
      </div>
    </ul>
  </div>
</Layout>
