---
import type { SanityDocument } from "@sanity/client";
import { loadQuery } from "../../sanity/lib/load-query";
import PortableText from "../../components/PortableText.astro";
import Layout from "../../layouts/Layout.astro";
import { sanityClient } from "sanity:client";

export async function getStaticPaths() {
  const { data: category } = await loadQuery<SanityDocument[]>({
    query: `*[_type == "category"]`,
  });

  return category.map(({ slug }) => {
    return {
      params: {
        slug: slug.current,
      },
    };
  });
}

const { params } = Astro;

const { data: category }: any = await loadQuery<{ title: string; body: any[] }>(
  {
    query: `*[_type == "category" && slug.current == $slug][0]`,
    params,
  }
);

const instruments = await sanityClient.fetch(
  `*[_type == "instrument" && references(*[_type == "category" && lower(title) == "${category.title}"]._id)]`
);
---

<Layout>
  <h1 class="text-2xl m-4 flex justify-center">
    All
    {category.title}
  </h1>
  <PortableText portableText={category.body} />

  <div class="instrument-list grid grid-rows-1 text-sm md:text-base">
    <div class="row flex flex-row justify-between mb-4">
      <div class="font-bold">Name</div>
      <div class="prices flex flex-row">
        <div class="flex justify-end font-bold min-w-44">Daily Rate</div>
        <div class="flex justify-end font-bold min-w-44 text-right">
          est. Weekly Rate
        </div>
      </div>
    </div>
    {
      instruments.map(
        (i: {
          _id: any;
          title: string;
          slug: any;
          estimatedWeeklyRate: string;
          dailyRate: string;
        }) => (
          <div class="row flex flex-row justify-between items-center h-12 rounded:md hover:bg-gray-300">
            <div class="name">
              <a href={`/instrument/${i.slug.current}`}>{i.title}</a>
            </div>
            <div class="prices flex flex-row ">
              <div class="min-w-44 flex justify-end text-sm md:text-base">{`$${i.dailyRate}.00`}</div>

              <div class="min-w-44 flex justify-end text-sm md:text-base">
                {`$${i.estimatedWeeklyRate}.00`}
              </div>
            </div>
          </div>
        )
      )
    }
  </div>
</Layout>
